    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    display: flex;
    align-items: center;
}

.login button {
    margin-right: 5px; /* Khoảng cách giữa các nút */
    padding: 4px 14px; /* Điều chỉnh padding để tăng kích thước của nút */
    font-size: 16px;
    border: none;
    color: #000000; /* Màu chữ của nút */
    cursor: pointer;
}
.search {
    margin-right: 10px; /* Khoảng cách giữa nút và ô tìm kiếm */
}
.search input[type="text"] {
    padding: 4px 14px; /* Điều chỉnh padding để tăng kích thước của ô nhập liệu */
    border: 1px solid #868686; /* Đường viền của ô nhập liệu */
    font-size: 14px;
}

img.social-icon {
    width: 70px; /* Kích thước chiều rộng */
    height: 25px; /* Để tự động tính to     án chiều cao dựa trên tỷ lệ khung hình */
    margin-right: 10px; /* Khoảng cách giữa các biểu tượng */
    margin-left: 10px;
}
img.call-icon {
    width: 20px; /* Kích thước chiều rộng */
    height: 20px; /* Để tự động tính toán chiều cao dựa trên tỷ lệ khung hình */
    margin-right: 5px; /* Khoảng cách giữa các biểu tượng */
    margin-left: 5px;
}

/* Global Styles */
.header {
    background-color: #ffffff;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* Header */
.header .container .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #818181;
}

.header .container .wrapper-header .contact,
.header .container .wrapper-header .login {
    display: flex;
    font-size: 20px;
}

.header .container .wrapper-header .login {
    height: 30px;
    justify-content: center;
    align-items: center;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .container {
    display: flex;
}

.banner .container img {
    width: 500px;
}

/* Navigation */
ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    border: 2px solid #333;
    font-size: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Article */
article .container {
    display: flex;
}

article .container .trang-nhat,
article .container .trang-hai ,
article .container .trang-ba {
    padding: 0 5px;
}

article .container .trang-nhat {
    width: 50%;
}
article .container .trang-nhat p {
    font-size: 20px;
    padding: 10px;
}
article .container .trang-hai {
    width: 18%;
}
article .container .trang-ba {
    width: 50%;
}
article .container h2,
article .container h3 {
    color: #ff008d;
    font-size: 25px;
}

article .container .trang-hai h2 {
    font-size: 25px;
}

article .container img {
    width: 99%;
}

/* Góc nhìn */
.goc-nhin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 240px;
    height: 190px;
    border: 1px solid #ccc;
    padding: 10px;
}

.goc-nhin .ten-chu-de {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #a31a73;
}

.goc-nhin .hinh-anh {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.goc-nhin .tieu-de {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.goc-nhin .noi-dung {
    margin-top: auto;
}
.trang-ba p {
    margin-left: 60px;
    font-size: 20px;
}
.right-ads {
    text-align: center; /* Canh giữa các hình ảnh */
    margin-top: 5px; /* Thêm một ít độ cao bên trên */
  }
img.img-ads{
    height: 170px; /* Để tự động tính to     án chiều cao dựa trên tỷ lệ khung hình */
} 
.button-container {
    margin-top: 5px;
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
    align-items: center; /* Canh các phần tử con theo trục dọc */
}
.rss-button
{
    font-size: 18px;
}
.rss-button-right1 {
    margin-right: 10px; /* Khoảng cách giữa cả hai nút */
    margin-left: 90px;
    font-size: 18px;
}


